@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

/* ------------------------------------ */

body {
  font-family: Montserrat;
  font-size: 16px;
  &._lock {
    overflow: hidden;
  }
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.page {
  flex: 1 1 auto;
}

.title {
  color: #FF9A23;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.32px;
  padding-bottom: 23px;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 101px;
    height: 1px;
    background-color: #FF9A23;
  }
}

[class*="__container"] {
  max-width: 1095px;
  margin: 0 auto;
  padding: 0 15px;
}

[class*="__container_big"] {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

/* ------------------------------------ */

.header {
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  z-index: 10;
  &__container {
    @include adaptiv-value('min-height', 75, 60, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }

  &__logo {
    z-index: 5;
    color: #FFF;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__menu {}

  &__phone {
    z-index: 5;
    color: #FFF;
    font-weight: 600;
    transition: all 0.3s ease 0s;
    position: relative;
    padding-left: 31px;
    &:hover {
      color: #ffffffa5;
    }
    &::before {
      content: '';
      position: absolute;
      top: -2px;
      left: 0;
      width: 21px;
      height: 21px;
      background: url(../images/header/icons/phone.svg) no-repeat;
    }
  }
}

.menu {
  &__icon {
    z-index: 5;
    display: none;
  }

  &__body {}

  &__list {
    display: flex;
    @include adaptiv-value('gap', 60, 15, 1);
  }

  &__link {
    color: #FFF;
    font-weight: 500;
    transition: all 0.3s ease 0s;
    &:hover {
      color: #ffffffa5;
    }
  }
}

@media (max-width: 767px) {
  .header {
    &__phone {
      max-width: 21px;
      max-height: 21px;
      overflow: hidden;
      padding-left: 21px;
    }
  }
}

@media (max-width: 500px) {
  .header {
    &__logo {
      order: 1;
      flex: 1 1 auto;
    }
    &__menu {
      order: 3;
    }
    &__phone {
      order: 2;
    }
  }
  .menu {
    &__icon {
      z-index: 5;
      display: block;
      position: relative;
      width: 27px;
      height: 16px;
      cursor: pointer;
      span,
      &::before,
      &::after {
        left: 0;
        position: absolute;
        height: 10%;
        width: 100%;
        transition: all 0.3s ease 0s;
        background-color: #000;
      }
      &::before,
      &::after {
        content: '';
      }
      &::before {
        top: 0;
      }
      &::after {
        bottom: 0;
      }
      span {
        top: 50%;
        transform: scale(1) translate(0px, -50%);
      }
      &._active {
        span {
          transform: scale(0) translate(0px, -50%);
        }
        &::before {
          top: 50%;
          transform: rotate(-45deg) translate(0px, -50%);
        }
        &::after {
          bottom: 50%;
          transform: rotate(45deg) translate(0px, 50%);
        }
      }
    }
    &__body {
      position: fixed;
      top: -100%;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.9);
      padding: 90px 30px 30px 30px;
      @include adaptiv-value('padding-top', 100, 80, 1);
      transition: top 0.3s ease 0s;
      overflow: auto;
      &::before {
        content: '';
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        @include adaptiv-value('height', 75, 60, 1);
        background: rgb(135, 140, 146);
      }
      &._active {
        top: 0;
      }
    }
    &__list {
      flex-direction: column;
      text-align: center;
    }
    &__link {
      font-size: 32px;
      &:not(:last-child) {
        padding-bottom: 30px;
      }
    }
  }
}

/* ------------------------------------ */

.main {
  background: url(../images/main/background.png) 0 0/cover no-repeat;
  &__container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include adaptiv-value('gap', 70, 15, 1);
    @include adaptiv-value('padding-top', 100, 80, 1);
    @include adaptiv-value('padding-bottom', 50, 20, 1);
    position: relative;
    &::before {
      content: '';
      position: absolute;
      bottom: -13px;
      left: 15px;
      width: 46px;
      height: 24px;
      background: url(../images/main/icons/decor-arrow.svg) no-repeat;
    }
  }

  &__body {}

  &__form {}
}

.body-main {
  &__title {
    color: #FFF;
    font-size: 40px;
    font-weight: 600;
    &:not(:last-child) {
      @include adaptiv-value('margin-bottom', 35, 20, 1);
    }
  }

  &__text {
    color: #FFF;
    font-size: 14px;
    &:not(:last-child) {
      @include adaptiv-value('margin-bottom', 60, 20, 1);
    }
  }

  &__button {
    display: inline-block;
    color: #000;
    font-weight: 500;
    padding: 16px 39px;
    justify-content: center;
    align-items: center;
    background: #FF9A23;
    transition: all 0.3s ease 0s;
    &:hover {
      background: #ff8800;
    }
  }
}

.form-main {
  background: rgba(0, 0, 0, 0.40);
  @include adaptiv-value('padding', 40, 20, 1);
  @include adaptiv-value('margin-right', -40, 0, 1);
  &__title {
    color: #FFF;
    font-size: 25px;
    font-weight: 500;
    line-height: 96.4%;
    &:not(:last-child) {
      @include adaptiv-value('margin-bottom', 20, 15, 1);
    }
  }

  &__subtitle {
    color: #FFF;
    line-height: 96.4%;
    &:not(:last-child) {
      @include adaptiv-value('margin-bottom', 30, 20, 1);
    }
  }

  &__form {
    @include adaptiv-value('width', 400, 250, 1);
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &__name {
    background-color: transparent;
    border-radius: 7px;
    border: 1px solid rgba(255, 255, 255, 0.70);
    padding: 13px 20px;
    color: rgba(255, 255, 255, 0.70);
    &::placeholder {
      color: rgba(255, 255, 255, 0.70);
      font-size: 14px;
      line-height: 96.4%;
    }
  }

  &__tel {
    background-color: transparent;
    border-radius: 7px;
    border: 1px solid rgba(255, 255, 255, 0.70);
    padding: 13px 20px;
    color: rgba(255, 255, 255, 0.70);
    &::placeholder {
      color: rgba(255, 255, 255, 0.70);
      font-size: 14px;
      line-height: 96.4%;
    }
    &:not(:last-child) {
      @include adaptiv-value('margin-bottom', 20, 0, 1);
    }
  }

  &__button {
    max-width: 120px;
    color: #FFF;
    text-align: left;
    padding: 12px 2px;
    font-weight: 700;
    background-color: transparent;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      top: 12px;
      right: 5px;
      width: 21px;
      height: 20px;
      background: url(../images/main/icons/arrow.svg) no-repeat;
    }
  }
}

@media (min-width: 900px) {
  .body-main {
    max-width: 540px;
  }
}

@media (max-width: 900px) {
  .main {
    &__container {
      flex-wrap: wrap;
    }
  }
}

@media (max-width: 767px) {
  .body-main {
    &__title {
      font-size: 32px;
    }
  }
}

@media (max-width: 500px) {
  .body-main {
    &__title {
      font-size: 24px;
    }
  }
  .form-main {
    &__title {
      font-size: 18px;
    }
    &__subtitle {
      font-size: 14px;
    }
  }
}

/* ------------------------------------ */

.aboutus {
  @include adaptiv-value('padding-top', 80, 30, 1);
  @include adaptiv-value('padding-bottom', 40, 30, 1);
  &__container {}

  &__title {
    margin-bottom: 10px;
  }

  &__content {
    display: flex;
    @include adaptiv-value('gap', 54, 20, 1);
    align-items: center;
    justify-content: space-between;
  }

  &__body {}

  &__image {}
}

.body-aboutus {
  &__title {
    font-size: 30px;
    font-weight: 600;
    &:not(:last-child) {
      @include adaptiv-value('margin-bottom', 35, 20, 1);
    }
  }

  &__text {
    p {
      &:not(:last-child) {
        @include adaptiv-value('margin-bottom', 25, 15, 1);
      }
    }
  }
}

.image-aboutus {
  &__title {
    color: rgba(0, 0, 0, 0.50);
    font-weight: 500;
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  img {
    max-width: 100%;
  }
}

@media (min-width: 900px) {
  .body-aboutus {
    max-width: 518px;
  }
}

@media (max-width: 900px) {
  .aboutus {
    &__content {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}

@media (max-width: 500px) {
  .body-aboutus {
    &__title {
      font-size: 20px;
    }
    &__text {
      font-size: 14px;
    }
  }
}

/* ------------------------------------ */

.products {
  @include adaptiv-value('padding-top', 40, 30, 1);
  @include adaptiv-value('padding-bottom', 40, 30, 1);
  &__container {
    display: flex;
    flex-direction: column;
  }

  &__title {
    &:not(:last-child) {
      @include adaptiv-value('margin-bottom', 30, 20, 1);
    }
  }

  &__tab {}

  &__button {
    display: inline-block;
    align-self: center;
    color: #000;
    font-weight: 500;
    padding: 16px 39px;
    justify-content: center;
    align-items: center;
    background: #FF9A23;
    transition: all 0.3s ease 0s;
    &:hover {
      background: #ff8800;
    }
  }
}

.tab-products {
  &:not(:last-child) {
    @include adaptiv-value('margin-bottom', 75, 30, 1);
  }
  &__header {}

  &__content {}
}

.header-tab-products {
  &:not(:last-child) {
    @include adaptiv-value('margin-bottom', 33, 20, 1);
  }
  &__items {
    display: flex;
    @include adaptiv-value('gap', 64, 20, 1);
    flex-wrap: wrap;
  }

  &__item {
    letter-spacing: 0.32px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    &_active {
      font-weight: 700;
    }
    @media (hover: hover) {
      &:hover {
        color: #00000064;
      }
    }
    
  }
}

.content-tab-products {
  &__items {
    display: flex;
    flex-wrap: wrap;
    column-gap: 11px;
    @include adaptiv-value('row-gap', 35, 20, 1);
  }

  &__item {
    max-width: 254px;
  }

  &__image {
    &:not(:last-child) {
      margin-bottom: 16px;
    }
    img {
      max-width: 100%;
    }
  }

  &__title {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.36px;
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__text {
    color: rgba(0, 0, 0, 0.40);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
    &:not(:last-child) {
      @include adaptiv-value('margin-bottom', 28, 16, 1);
    }
  }

  &__button {
    color: #FF9A23;
    font-weight: 500;
    letter-spacing: 0.32px;
    position: relative;
    padding-right: 40px;
    transition: all 0.3s ease 0s;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 24px;
      height: 16px;
      background: url(../images/products/icons/arrow.svg) no-repeat;
    }
    &:hover {
      color: #ba6300;
    }
  }
}

// Tabs
.show {
  display: block;
  display: flex;
  flex-wrap: wrap;
}

.hide {
  display: none
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.1;
  }

  to {
    opacity: 1;
  }
}

@media (max-width: 767px) {
  .content-tab-products {
    &__items {
      justify-content: space-around;
    }
  }
}

/* ------------------------------------ */

.work {
  @include adaptiv-value('padding-top', 40, 30, 1);
  @include adaptiv-value('padding-bottom', 40, 30, 1);
  &__container {}

  &__title {
    @include adaptiv-value('margin-bottom', 34, 20, 1);
  }

  &__slider {}
}

.slider-work {
  max-width: 1040px;
  min-height: 100%;
  position: relative;
  &__wrapper {
    @include adaptiv-value('padding-bottom', 50, 40, 1);
  }

  &__slide {}

  &__image {
    img {
      max-width: 100%;
    }
  }

  &__pagination {}

  &__button-prev {}

  &__button-next {}
}

.swiper-pagination-clickable .swiper-pagination-bullet{
  height: 6px;
  width: 6px;
  background: #FF9A23;
}

.work__slider .swiper-button-prev::after,
.work__slider .swiper-button-next::after {
  content: '';
  position: absolute;
  width: 50px;
  height: 16px;
}
.work__slider .swiper-button-prev::after {
  left: 0;
  background: url(../images/work/icons/arrow.svg) no-repeat;
}
.work__slider .swiper-button-next::after {
  right: 0;
  background: url(../images/work/icons/arrow.svg) no-repeat;
  transform: rotate(180deg);
}

@media (max-width: 500px) {
  .slider-work {
    &__image {
      img {
        @include adaptiv-value('height', 300, 200, 1);
        object-fit: cover;
      }
    }
  }
}

/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */