@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

/* ------------------------------------ */

body {
  font-family: Montserrat;
  font-size: 16px;
  &._lock {
    overflow: hidden;
  }
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.page {
  flex: 1 1 auto;
}

[class*="__container"] {
  max-width: 1095px;
  margin: 0 auto;
  padding: 0 15px;
}

/* ------------------------------------ */

.header {
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  z-index: 10;
  &__container {
    @include adaptiv-value('min-height', 75, 60, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    // потім видали background
    background: rgb(141, 145, 130);
  }

  &__logo {
    z-index: 5;
    color: #FFF;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__menu {}

  &__phone {
    z-index: 5;
    color: #FFF;
    font-weight: 600;
    transition: all 0.3s ease 0s;
    position: relative;
    padding-left: 31px;
    &:hover {
      color: #ffffffa5;
    }
    &::before {
      content: '';
      position: absolute;
      top: -2px;
      left: 0;
      width: 21px;
      height: 21px;
      background: url(../images/header/icons/phone.svg) no-repeat;
    }
  }
}

.menu {
  &__icon {
    z-index: 5;
    display: none;
  }

  &__body {}

  &__list {
    display: flex;
    @include adaptiv-value('gap', 60, 15, 1);
  }

  &__link {
    color: #FFF;
    font-weight: 500;
    transition: all 0.3s ease 0s;
    &:hover {
      color: #ffffffa5;
    }
  }
}

@media (max-width: 767px) {
  .header {
    &__phone {
      max-width: 21px;
      max-height: 21px;
      overflow: hidden;
      padding-left: 21px;
    }
  }
}

@media (max-width: 500px) {
  .header {
    &__logo {
      order: 1;
      flex: 1 1 auto;
    }
    &__menu {
      order: 3;
    }
    &__phone {
      order: 2;
    }
  }
  .menu {
    &__icon {
      z-index: 5;
      display: block;
      position: relative;
      width: 27px;
      height: 16px;
      cursor: pointer;
      span,
      &::before,
      &::after {
        left: 0;
        position: absolute;
        height: 10%;
        width: 100%;
        transition: all 0.3s ease 0s;
        background-color: #000;
      }
      &::before,
      &::after {
        content: '';
      }
      &::before {
        top: 0;
      }
      &::after {
        bottom: 0;
      }
      span {
        top: 50%;
        transform: scale(1) translate(0px, -50%);
      }
      &._active {
        span {
          transform: scale(0) translate(0px, -50%);
        }
        &::before {
          top: 50%;
          transform: rotate(-45deg) translate(0px, -50%);
        }
        &::after {
          bottom: 50%;
          transform: rotate(45deg) translate(0px, 50%);
        }
      }
    }
    &__body {
      position: fixed;
      top: -100%;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.9);
      padding: 90px 30px 30px 30px;
      @include adaptiv-value('padding-top', 100, 80, 1);
      transition: top 0.3s ease 0s;
      overflow: auto;
      &::before {
        content: '';
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        @include adaptiv-value('height', 75, 60, 1);
        background: rgb(141, 145, 130);
      }
      &._active {
        top: 0;
      }
    }
    &__list {
      flex-direction: column;
      text-align: center;
    }
    &__link {
      font-size: 32px;
      &:not(:last-child) {
        padding-bottom: 30px;
      }
    }
  }
}

/* ------------------------------------ */



/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */